<!-- <button
  class="fixed bottom-4 right-4 bg-green-500 text-white w-16 h-16 rounded-full shadow-lg hover:bg-green-700 flex items-center justify-center text-2xl z-50"
>
  <i class="fab fa-whatsapp text-4xl" aria-hidden="true"></i>
</button> -->

<a
  href="https://wa.me/981557469"
  target="_blank"
  class="fixed bottom-4 right-4 bg-green-500 text-white w-16 h-16 rounded-full shadow-lg hover:bg-green-700 flex items-center justify-center text-2xl z-50"
>
  <i class="fab fa-whatsapp text-4xl" aria-hidden="true"></i>
</a>
